<img class="img-circle block-center" src="https://www.gravatar.com/avatar/314f86a3d25a67dc7e14703593d4f286" alt="">
<h2 class="name">indika kodagoda</h2>
<p class="personal-pitch">
    Engineer, passionate about learning, and solving problems.
</p>
<p class="personal-pitch">
    Currently working at a telco. Have a deep interest on NFV, Cloud and AI. This blog is the outcome of my love for learning, writing and sharing.
</p>
<div class="social-icons">
    <ul class="social-icon-list block-center">
    <li>
        <a href="https://twitter.com/indikaimk"><img class="social-icon" src="/assets/images/Twitter_Social_Icon_Circle_White.png" alt=""></a>
    </li>
    <li>
        <a href="www.linkedin.com/in/indika-kodagoda"><img class="social-icon" src="/assets/images/In-White-41px-TM.png" alt=""></a>
    </li>
    </ul>
</div>

  